body {
    background-color: palevioletred;
}
#quote{
    width: 200px;
    font-size: 2.5em;
}
h1 {
    text-align: center;
    color: white;
    font-size: 2.5em;
}
h1:hover{
    background-color: palevioletred;
    color: black;
}
.main-quote{
    text-align: center;
    color: white;
}
.steps{
    text-align: center;
    color: black;
}
#container{
    width: 50%;
    margin: 0 auto;
}
img{
    max-width: 50%;
}
footer p {
    text-align: center;
    color: black;
}
