body {
    background-color: palevioletred;
}
#quote{
    width: 200px;
    font-size: 2.5em;
}
h1 {
    text-align: center;
    color: white;
    font-size: 2.5em;
}
h1:hover{
    background-color: palevioletred;
    color: black;
}
.main-quote{
    text-align: center;
    color: white;
    font-size: 30px;
}
.steps{
    text-align: center;
    color: black;
    font-size: 20px;
}

footer p {
    text-align: center;
    color: black;
}